.card-hover-effect {
    position: relative;
    overflow: hidden;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.card-image {
    transition: transform 0.3s;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container:hover .card-image {
    transform: scale(1.1);
}

.hover-details {
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0; /* Ensure overlay starts from the top-left of the image */
    width: 100%; /* Cover the entire width of the image */
    height: 100%; /* Cover the entire height of the image */
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    z-index: 10;
    /* Set initial state to hide the overlay */
    pointer-events: none; /* Prevent interaction with the overlay */
}

.image-container:hover .hover-details {
    opacity: 1;
    pointer-events: auto; /* Allow interaction when visible */
}
.pagination-container {
    text-align: center;
    margin: 20px 0;
}
